<!doctype html>

<html>
    <head>
    <meta charset="UTF-8", content="width=device-width, initial-scale=1">
    <title>About</title><html>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <h1>About</h1>
    <p>About this gallery</p>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
</body>

<footer> 
    <br>
    <br>
    <a href="http://localhost:8080">Click here to go Home</a>
</footer>

</html>
