<!doctype html>

<html>
    <head>

        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>About</title><html>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }

        var slideIndex = 0;
showSlides(slideIndex);



// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

        </script>
    </head>

<body id="body">
    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    <li> <a href="/">Home </a> </li>
                    {{#if authorised}}
                        <li> <a href="sell">Sell </a> </li>
                        <li> <a href="myItems">My Items </a> </li>
                        <li> <a href="account">Account </a> </li>
                        <li> <a href="logout">Logout </a> </li> 
                    {{else}}
                        <li> <a href="login">Login </a></li> 
                        <li> <a href="register">Sign Up </a></li> 
                    {{/if}}
                    <li> <a href="about">About </a> </li> 
                    <li> <a href="contact">Contact </a></li>
                </ul>
            </div>
        </div>
    <h1 class="aboutheader">About</h1>
    <h3 class="aboutheader3">Information about the gallery</h3>

    <div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <img src="artbanner2.jpg" style="width:100%">
        <div class="text">Blue</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <img src="artbanner4.jpg" style="width:100%">
        <div class="text">Old Woman Painting</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <img src="artbanner5.jpg" style="width:100%">
        <div class="text">Flowers</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img src="artbanner6.jpg" style="width:100%">
        <div class="text">Death Stranding</div>
    </div>
    
    </div>

<br>

    <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    </div>


    <h4>

    Welcome to our Gallery project. 

    </h4>
    
    <p class="blockoftext">
    We started this website so we could provide a fair marketplace for Artists and fans of art alike. Click one of the dots above to see some pieces of art that were previously sold here.
    We are a small group of 7 students at Coventry University.

    </p>

    <div class="scrollingimage"></div>

    
    <p class="blockoftext">
    Our aim is to make this an easy selling experience for Artists whilst also providing security through payment methods such as PayPal™. PayPal™ provides Seller Protection which can protect you from getting scammed by any devious customers:

    </p>

    </br>

    <p class="italicstext">
    "PayPal Seller Protection protects eligible sellers against losses due to buyer claims, credit card chargebacks and reversals resulting from unauthorised activity. To be eligible for Seller Protection, you must comply with the full terms and conditions listed in the policy."
    </p>

    </br>

    <p class="blockoftext">
    We started this website so we could provide a fair marketplace for Artists and fans of art alike. Click one of the dots above to see some pieces of art that were previously sold here.
    We are a small group of 7 students at Coventry University studying Computer Science.
    </p>



    <p class="blockoftext">
    We started this website so we could provide a fair marketplace for Artists and fans of art alike. Click one of the dots above to see some pieces of art that were previously sold here.
    We are a small group of 7 students at Coventry University.

    </p>

</body>


</html>
