<!doctype html>

<html>
    <head>
    <meta charset="UTF-8", content="width=device-width, initial-scale=1">
    <title>About</title><html>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript">
    function toggleSidemenu(){ document.getElementById("sidemenu").classList.toggle('active');}
    </script>
    <style>
    a:link {
    text-decoration: none;
    }
    a:visited {
    text-decoration: none;
    }
    a:hover {
    text-decoration: underline;
    }
    a:active {
    text-decoration: underline;
    }
    </style>
</head>

<body>

    <div id="sidemenu">
    <div class="toggle-btn" onclick="toggleSidemenu()"><a>
        <span></span>
        <span></span>
        <span></span>
    </a>
    </div>
    <ul>
        <li> <a href="Home">Home </a> </li>
        <li> <a href="about">About </a> </li> 
        <li> <a href="services">Services </a> </li> 
        <li> <a href="login">Login </a></li> 
        <li> <a href="register">Sign Up </a></li>
        <li> <a href="Sell">Sell </a> </li> 
        <li> <a href="contact">Contact </a></li>
    </ul>
    </div>

    <h1 class="aboutheader">About</h1>
    <h3 class="aboutheader3">Information about the gallery</h3>

    <img src="min2.jpg" alt="Random Art" class="aboutimage">


    <p class="blockoftext">

    Nunc quis libero eu nisl bibendum lobortis. In hendrerit sit amet enim sit amet malesuada. Fusce pellentesque feugiat augue, venenatis blandit quam tincidunt sed. Nunc velit eros, lobortis ut posuere ut, interdum ac neque. Sed ipsum est, facilisis at ante a, faucibus tristique mauris. Morbi laoreet lacus porta, mollis sapien nec, efficitur felis. Nam dictum vel risus sed consequat. Fusce malesuada ex a vestibulum condimentum. Integer viverra, augue a fermentum dictum, lorem justo tristique metus, eget feugiat erat enim et augue. Proin varius leo eu augue blandit, et mattis nunc finibus. Donec accumsan arcu a leo pharetra, eu convallis sem consectetur. Maecenas elit mi, placerat non lobortis in, vehicula tincidunt nunc.

    Sed rutrum nisi lorem, quis fermentum justo vehicula eget. Nullam venenatis lectus tincidunt risus congue, vitae vulputate orci lacinia. Donec tincidunt orci non purus rutrum, vel dictum est faucibus. Maecenas a tortor ut odio aliquet viverra. Donec rutrum tincidunt dictum. Mauris tortor diam, porta vel congue a, rhoncus et ipsum. Curabitur et pretium mauris, nec tempor enim. Duis imperdiet massa velit, at pretium massa pellentesque eget. Nulla id mi sit amet leo malesuada viverra at a mi. Nam id vehicula arcu. Phasellus luctus, risus at laoreet iaculis, arcu diam pretium mauris, a ornare nisi mi ac massa. Duis eleifend justo at est aliquam, in lacinia dui dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce tincidunt turpis a turpis efficitur sagittis.

    Nunc ante dui, commodo a vulputate eget, placerat non libero. Phasellus a arcu leo. Maecenas quis tristique ipsum. Phasellus ac magna et enim tempus dignissim. Etiam turpis mauris, commodo quis blandit et, posuere vitae turpis. Donec nec velit suscipit urna blandit efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas dapibus leo id pretium auctor. Pellentesque nunc diam, dapibus sed est sed, tempor dapibus turpis. Sed semper tellus nibh, ut maximus lorem pulvinar vel. Maecenas tincidunt pharetra tortor, quis fringilla turpis rutrum non. Donec quis purus laoreet, finibus arcu sit amet, faucibus magna. Duis turpis augue, egestas consectetur tempus nec, tincidunt ut tortor.

    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris elementum non nibh sed tincidunt. Cras placerat leo quis neque porttitor, lacinia consequat nibh consequat. Integer eu diam vitae enim mattis scelerisque vitae vel lorem. Fusce sit amet faucibus arcu. Fusce fringilla neque dui, id faucibus nunc semper id. Duis a vehicula mi, id malesuada dui. Integer at venenatis felis. Suspendisse ultricies urna non risus commodo tincidunt. Aenean non pellentesque sem. Curabitur id sem sem. Mauris elit magna, euismod sit amet dolor sodales, sollicitudin lacinia lacus. Aenean nibh enim, accumsan non justo vitae, convallis aliquet tellus.
    </p>


</body>


</html>
