<!doctype html>

<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Change PayPal Username</title><html>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">

    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}
    <section class="container">
        <div class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <div id="sidemenu">
                <div class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <ul>
                    <li> <a href="/">Home </a> </li>
                    {{#if authorised}}
                        <li> <a href="sell">Sell </a> </li>
                        <li> <a href="myItems">My Items </a> </li>
                        <li> <a href="account">Account </a> </li>
                        <li> <a href="logout">Logout </a> </li> 
                    {{else}}
                        <li> <a href="login">Login </a></li> 
                        <li> <a href="register">Sign Up </a></li> 
                    {{/if}}
                    <li> <a href="about">About </a> </li> 
                    <li> <a href="contact">Contact </a></li>
                </ul>
            </div>
        </div>

    <h2> Change your Paypal Username </h2>
    <hr>
    <br>
    <form action="/changepaypal" method="POST">
            
            <br>

            <div>
                <label for="username"><b>Paypal Username: </b></label>
                <input type="text" placeholder="Enter Paypal Username" name="paypalUsername" required>
            </div>
        
            <p><input type="submit" value="Change"></p>
        </form>


    </section>
</body>

<footer> 
    <br>
    <br>
    <a href="http://localhost:8080">Click here to go Home</a>
</footer>
</html>