<!doctype html>

<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Contact</title><html>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>

        <div id="sidemenu">
            <div class="toggle-btn" onclick="toggleSidemenu()">
                <a>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <ul>
                <li> <a href="/">Home </a> </li>
                {{#if authorised}}
                    <li> <a href="sell">Sell </a> </li>
                    <li> <a href="myItems">My Items </a> </li>
                    <li> <a href="account">Account </a> </li>
                    <li> <a href="logout">Logout </a> </li> 
                {{else}}
                    <li> <a href="login">Login </a></li> 
                    <li> <a href="register">Sign Up </a></li> 
		        {{/if}}
                <li> <a href="about">About </a> </li> 
                <li> <a href="contact">Contact </a></li>
            </ul>
        </div>
    </head>

<body id="body">



    <h1>Contact</h1>
    <h3>About the WebX Team</h3>

    
</body>


</html>
