<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8", name="viewport" content="width=device-width, initial-scale=1">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    
</head>

<body>
	<section id="errorpage">
		<section class="errorpage">
			<section class="errorpage-404">
				<h1>ERROR</h1>
				<h2>There was a problem!</h2>
			</section>
			<a href="/">Go TO Homepage</a>
		</section>
	</section>
</body>
</html>