<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8", name="viewport" content="width=device-width, initial-scale=1">
<title>Login Page</title><html>
<link rel="stylesheet" type="text/css" href="style.css">

<body>
    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}

    <section class="container">

        <nav class="side">
            <a href="about">About</a> |
            <a href="#services">Services</a> |
            <a href="login">Login</a> |
            <a href="register">Sign Up</a> |
            <a href="#contact">Contact</a> |
        </nav>

        <h1>Login Page</h1>
        <hr>
        <form action="/login" method="POST">
            <div>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
            </div>

            <div>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>

            <p><input type="submit" value="Login"></p>
        </form>
        <p>If you don't have an account, <a href="/register">Register Here</a></p>
    </section>
</body>

<footer> 
    <br>
    <br>
    <a href="http://localhost:8080">Click here to go Home</a>
</footer>
</html>