<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8", content="width=device-width, initial-scale=1">
        <title>Sell</title><html>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            function toggleSidemenu(){ 
                document.getElementById("sidemenu").classList.toggle('active')
                if (document.getElementById("sidemenu").classList == 'active')
                    document.getElementById("body").style.marginLeft = "200px";
                else
                    document.getElementById("body").style.marginLeft = "5px";
            }
        </script>
    </head>

<body id="body">
    	{{#if successMsg}}
 			<p class="msg-success">{{successMsg}}</p>
		{{/if}}
        {{#if errorMsg}}
 			<p class="msg-danger">{{errorMsg}}</p>
		{{/if}}
    <section class="container">
        <section class="header">
            <a href="/" class="header_logo center"><button><img src="WebxLogo.png"/></button></a>
            <section id="sidemenu">
                <section class="toggle-btn" onclick="toggleSidemenu()">
                    <a>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </section>
                <ul>
                    <a href="/"><li> Home  </li></a>
                    {{#if authorised}}
                        <a href="basket"><li> Basket</li></a>
                        <a href="sell"><li> Sell </li></a>
                        <a href="myItems"><li> My Items </li></a>
                        <a href="account"><li> Account </li></a>
                        <a href="logout"><li> Logout </li></a>
                    {{else}}
                        <a href="login"><li> Login </li></a>
                        <a href="register"><li> Sign Up </li></a>
                    {{/if}}
                    <a href="about"><li> About </li></a>
                    <a href="contact"><li> Contact </li></a>
                </ul>
            </section>
        </section>
		<form class="sell_form" action="/uploadItem" enctype="multipart/form-data" method="post">
            <p>To list an item please fill in all of the information about it</p>
			<p>Name:*<br /><input id="sell_form-item" type="text" name="item" value="" placeholder="e.g. The Kiss" required></p>
			<p>Year:*<br /><input id="sell_form-year" type="number" name="year" value="" placeholder="e.g. 1908" required></p>
            <p>Price:*<br /><input id="sell_form-price" type="number" name="price"  value="" required></p>
            <p>Artist:*<br /><input id="sell_form-artist" type="text" name="artist"  value="" placeholder="e.g. Gustav Klimt" required></p>
			<p>Medium:*<br /><input id="sell_form-medium" type="text" name="medium" value="" placeholder="e.g. Oil on canvas painting" required></p>
			<p>Size:*<br /><input id="sell_form-size" type="text" name="size" value="" placeholder="e.g. 180 cm x 180 cm" required></p>
			<p>Short Description:*<br/><textarea id="sell_form-sDescription" cols="36" rows="5" name="sDescription" value="" placeholder="e.g. The painting depicts a couple embracing each other, their bodies entwined in elaborate beautiful robes decorated in a style influenced by the contemporary Art Nouveau style and the organic forms of the earlier Arts and Crafts movement." required></textarea></p>
			<p>Long Description:*<br/><textarea id="sell_form-lDescription" cols="36" rows="5" name="lDescription" value="" placeholder="e.g. Gustav Klimt depicts the couple locked in an intimate embrace against a gold, flat background. The two figures are situated at the edge of a patch of flowery meadow that ends under the woman's exposed feet. The man wears a robe printed with geometric patterns and subtle swirls. He wears a crown of vines while the woman wears a crown of flowers. She is shown in a flowing dress with floral patterns. The man's face is not shown to the audience and instead, his face is bent downward to press a kiss to the woman's cheek, and his hands are cradling the woman's face. Her eyes are closed, with one arm wrapped around the man's neck, the other resting gently on his hand, and her face is upturned to receive the man's kiss. ." required></textarea></p>
            <p>Select up to three images</p>
			<p>Item images:*<br /><input type="file" name="image" multiple required></p>
			<p><input type="submit" value="Upload"></p>
		</form>
    </section>
</body>

<footer> 
    <section class="footer-left"><p>Project for Coventry University | 2019 | This webpage was made by WebX team.</p></section>
    <section class="footer-center"><a href="/" class="footerNav"><p>Home </a><a href="about" class="footerNav">About </a><a href="contact" class="footerNav">Contact </p></a></section>
    <section class="footer-right"><p>Contact: <a href="contact" class="footerNav">webxgallery@gmail.com</a></p></section>
</footer> 
<script type="text/javascript">
    //Put footer at the bottom of the window if page is too short
    const bodyHeight = document.querySelector("body").offsetHeight
    const footer = document.querySelector("footer")
    if(bodyHeight < window.innerHeight){
        footer.classList.add("bottom")
    }
</script>
</html>
