div.gallery {
    float: left;
    width: 180px;
  }
  
div.gallery:hover {
    border: 1px solid #777;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 15px;
    text-align: center;
  }


body {
    background-image: url("aboutbackground5.jpeg");
    font-family: sans-serif;
    font-size: x-large;
  }

footer {
    color: white;
    font-size: 20px;
}

h3 {
    text-align: center;
    color: black;
    font-size: 40px;
    text-decoration: underline;
  }

h1,h2 {
    padding: 90px;
    margin-top: 70px;
    margin: 0px;
    text-align: center;
    background: black;
    color: white;
    font-size: 50px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: xx-large;
  }

  img {
    width: 30%;
    height: auto;
    align-items: center;
    float: left;
    margin-right: 10px;
  }

  /*Menu Customisation */
  #sidemenu{
    position: fixed;
    width: 200px;
    height: 100%;
    background: darkgrey;
    transition: all 100ms linear;
    left: -210px;
    top: 0px;
   }
   /* The text within the menu */
   #sidemenu ul li{
    color: black;
    padding:  20px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
   }
   /*  */
   #sidemenu.active{
    left: 0px;
   }
   /* Position of sidemenu Button */
   #sidemenu .toggle-btn{
    position: absolute;
    left: 230px;
    top: 10px;
   }
   /* The sidemenu button */
   #sidemenu .toggle-btn span{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: block;
    width: 30px;
    margin: 5px 0px;
    height: 5px;
    padding-left: 5px;
    background: #4CAF50;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
   }

   a:link {
    text-decoration: none;
    }
    a:visited {
    text-decoration: none;
    }
    a:hover {
    text-decoration: underline;
    }
    a:active {
    text-decoration: underline;
    }
